body {
    background-color: #5dff19;
    color: aliceblue;
    font-family: Verdana;
}
lh {
    text-align: left;
}
a{
    text-decoration: none;
    color: white;
}
section {
    box-sizing: border-box;
    border-radius: 30px;
    width: 600px;
    margin: auto;
    background-color: darkblue;
    padding: 50px;
}
.login{
    margin: auto;
    width: 50%;
    background: #ffffff;
    padding: 10px;
}
